DATABASE_USER=admi
DATABASE_PASSWORD=admi
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_NAME=loja
ADMIN_TOKEN=umtokenseguro
SECRET_KEY=uma_chave_secreta_super_segura_123!
CLOUDE_NAME=cloud_name
API_KEY=chave
API_SECRET=segredo
MELHOR_ENVIO_TOKEN=
MELHOR_ENVIO_API=
MERCADOPAGO_ACCESS_TOKEN=
MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_WEBHOOK_SECRET=
API_BASE_URL=
BASE_URL=
EMPRESA_CNPJ=
EMPRESA_CEP=
EMPRESA_ENDERECO=
EMPRESA_NUMERO=
EMPRESA_BAIRRO=
EMPRESA_CIDADE=
EMPRESA_ESTADO=
EMPRESA_TELEFONE=
EMPRESA_EMAIL=